## Welcome to the Coding Challenge Part 2!

###**Problem 1: Who is in the third place?**

Buatlah fungsi dengan nama ```third_place``` yang dapat melakukan aktifitas berikut:

Diberikan daftar nilai ujian dan daftar nama peserta. Output yang diinginkan adalah nama peserta yang mendapat nilai terbaik ke-3. Aturan penentuan urutan skor terbaik adalah sebagai berikut:
- Skor yang lebih tinggi lebih baik
- Apabila beberapa peserta memiliki skor tes yang sama, mereka dapat menempati nilai peringkat yang sama. Misalnya, jika 2 peserta mendapat nilai 100, maka keduanya menempati urutan pertama.

Input pertama dari fungsi adalah daftar nama, dan input kedua pada fungsi adalah daftar skor.

##### Example 1:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa]

score = [80, 90, 95, 100, 85]

Artinya, Andi mendapat nilai 80, Budi mendapat nilai 90, Charlie mendapat nilai 95, Dilan mendapat nilai 100, dan Echa mendapat nilai 85. Nilai terbaik pertama adalah 100, dan Dilan mendapat nilai. Skor terbaik kedua adalah 95, dan Charlie mendapatkannya. Skor terbaik ketiga adalah 90, dan Budi mendapatkannya. Jadi output kita harus Budi.

Output: 'The third winner: Budi'.

Saat kita menjalankan ```third_place(names, score)```, outputnya akan 'The third winner: Budi'.

##### Example 2:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa]

score = [80, 80, 80, 100, 90]

Tartinya, Andi, Budi, dan Charlie mendapat nilai 80, Dilan mendapat nilai 100, dan Echa mendapat nilai 90. Nilai terbaik ketiga adalah 80, dan output kita harus mencantumkan SEMUA peserta yang mendapat nilai 80.

Output: 'The third winner: Andi, Budi, Charlie'.

Apabila kita menjalankan ```third_place(names, score)```, outputnya adalah 'The third winner: Andi, Budi, Charlie'.


##### Example 3:

Input:

names = [Andi, Budi, Charlie, Dilan, Echa, Fanya]

score = [80, 90, 90, 100, 100, 80]

Skor terbaik pertama (juara pertama) adalah 100 - Dilan dan Echa berbagi posisi ini. Skor terbaik kedua (pemenang kedua) adalah 90 - Budi dan Charlie berbagi posisi ini. Skor terbaik ketiga (juara ketiga) adalah 80, dan itu dibagi oleh Andi dan Fanya. Jadi, output kita harusnya Andi dan Fanya.

Output: 'The third winner: Andi, Fanya'.

In [35]:
names = ['Andi', 'Budi', 'Charlie', 'Dilan', 'Echa', 'Fanya']
scores = [80, 90, 90, 100, 100, 80]

# Menggabungkan dua list menggunakan zip
data = list(zip(names, scores))

# Contoh cara mengakses nilai
for name, score in data:
    print(f"{name} memiliki skor {score}")

Andi memiliki skor 80
Budi memiliki skor 90
Charlie memiliki skor 90
Dilan memiliki skor 100
Echa memiliki skor 100
Fanya memiliki skor 80

In [36]:
df_dict = {}
for i in range(len(names)):
    df_dict[names[i]] = scores[i]

df_dict

{'Andi': 80, 'Budi': 90, 'Charlie': 90, 'Dilan': 100, 'Echa': 100, 'Fanya': 80}

In [53]:
def third_place(names, scores):
    unique_scores = list(set(scores))
    unique_scores.sort(reverse=True)

    third_place_names = []

    for i in range(len(scores)):
        if scores[i] == unique_scores[2]:
            third_place_names.append(names[i])

    print(list(range(len(scores))))
    print(third_place_names)

    if len(third_place_names) == 1:
        print(f"The third winner: {third_place_names[0]}")
    else:
        names_string = ", ".join(third_place_names)
        print(f"The third winners: {names_string}")


third_place(names, scores)

[0, 1, 2, 3, 4, 5]
['Andi', 'Fanya']
The third winners: Andi, Fanya

###**Problem 2: Find the Square Root!**

Buatlah fungsi dengan nama ```square_root``` yang dapat melakukan fungsi berikut:

Diberikan polinomial orde kedua, temukan akarnya (akar harus dalam bilangan real). Inputnya adalah 3 angka, masing-masing mewakili 'a', 'b', dan 'c', dalam ax^2 + bx + c = 0.

Tugas Anda adalah mencari akar dari ax^2 + bx + c = 0.

Namun, perhatikan bahwa terkadang persamaan tidak dapat diselesaikan, atau hanya memiliki satu solusi, bukan dua. Fungsi Anda juga harus mempertimbangkan hal ini.

Input fungsi Anda adalah 3 angka, angka pertama adalah konstanta 'a', angka kedua adalah konstanta 'b', dan angka ketiga adalah konstanta 'c'.

##### Example 1:

Input: a = 1, b = -5, c = 6.

Artinya, persamaannya adalah 1x^2 - 5x + 6 = 0.
Persamaan ini memiliki dua solusi, solusi pertama adalah x = 3, dan solusi kedua adalah x = 2. Jadi, keluaran Anda seharusnya adalah:

Output: 'X1 = 3, X2 = 2'.

Apabila kita menjalankan kode ```square_root(1, -5, 6)``` maka outputnya adalah: 'X1 = 3, X2 = 2'

##### Example 2:

Input: a = 2, b = 4, c = 2.

Artinya, persamaannya adalah 2x^2 + 4x + 2 = 0.
Persamaan ini hanya memiliki satu solusi, yaitu x = -1.

Output; 'X = -1'.

##### Example 3:

Input: a = 1, b = 1, c = 9.

Artinya, persamaannya adalah x^2 + x + 9 = 0.
Persamaan ini tidak memiliki solusi nyata. (Jika Anda telah belajar tentang bilangan imajiner atau kompleks, solusi dari persamaan ini adalah bilangan-bilangan tersebut. Tapi di sini, kita hanya akan berurusan dengan bilangan real).

Output: 'No solution'.

In [13]:
def square_root(a, b, c):
    C = sqrt( a**2 + b**2)
    a = x(b) - x(a)
    b = y(b) - y(a)

    C = sqrt((x(b) - x(a))**2 + (y(b) - y(a))**2)

In [16]:
import math

def square_root(a, b, c):
    # Menghitung akar persamaan kuadrat (ax** +bx+c=0)
    discriminant = b**2 - 4*a*c

    # Memeriksa apakah terdapat solusi
    if discriminant > 0:

    # menghitung nilai X1 dan X2 ketika persamaan kuadrat memiliki dua solusi yang berbeda.
        x1 = (-b + math.sqrt(discriminant)) / (2*a)
        x2 = (-b - math.sqrt(discriminant)) / (2*a)
        return f'X1 = {x1}, X2 = {x2}'
    elif discriminant == 0:

        # berarti menentukan nilai X ketika persamaan kuadrat memiliki satu solusi.
        x = -b / (2*a)
        return f'X = {x}'
    else:
        return 'No solution'


print(square_root(1, -5, 6))
print(square_root(2, 4, 2))
print(square_root(1, 1, 9))

X1 = 3.0, X2 = 2.0
X = -1.0
No solution

###**Problem 3: Find Distance Between Two Coordinates - Easy**

Buatlah fungsi dengan namna ```distance``` yang dapat melakukan fungsi berikut:

Diberikan dua koordinat dalam daftar. Tugas Anda adalah menghitung jarak antara kedua koordinat tersebut. Input dari fungsi Anda akan menjadi dua daftar. Setiap daftar berisi 2 anggota, mewakili posisi x dan y.

##### Example 1:

Input:

point_1 = [5, 5]

point_2 = [1, 2]

Artinya, koordinat titik pertama adalah (5,5), koordinat titik kedua adalah (1,2). Untuk menghitung jarak antara dua titik ini, kami menggunakan rumus jarak euclidean biasa di sini: https://wikimedia.org/api/rest_v1/media/math/render/svg/2e0c9ce1b3455cb9e92c6bad6684dbda02f69c82.

Jaraknya adalah:

Akar kuadrat dari ((5-1)^2 + (5-2)^2) = Akar kuadrat dari (16 + 9) = Akar kuadrat dari (25) = 5.

Output: 'The distance is 5.'

Maka, ketika kita menjalankan kode ```distance(point_1, point_2)``` outputnya akan 'The distance is 5'.

##### Example 2:

Input:

point_1 = [0,-1]

point_2 = [-3, 2]

Koordinat pertama adalah (0,-1), koordinat kedua adalah (-3,2). Jarak antara mereka adalah:

Akar kuadrat dari ((0- -3)^2 + (-1-2)^2) = Akar kuadrat dari (9 + 9) = Akar kuadrat dari (18) = 4,242640687

Output: 'The distance is 4.242640687'.

Maka, apabila kita menjalankan kode ```distance(point_1, point_2)``` outputnya adalah 'The distance is 4.242640487'.

##### FAQ:

- Question: "Desimalnya dibuletin ga?"
- Answer: "Ga usah peduliin format output desimalnya. Mau keluar berapa angka di belakang koma gpp kok. Yang penting value nya bener."

In [4]:
# d(p,q) = ((q1-p1)**2 + (q2-p2) ** 0.5) adalah rumus jarak euclidean
def distance(point_1, point_2):
    d = ((point_2[0] - point_1[0]) ** 2 + (point_2[1] - point_1[1]) ** 2) ** 0.5
    return f'The distance is {d}.'

In [6]:
point_1 = [5, 5]
point_2 = [1, 2]
distance (point_1, point_2)

'The distance is 5.0.'

In [8]:
point_1 = [0, -1]
point_2 = [-3, 2]
distance (point_1, point_2)

'The distance is 4.242640687119285.'

In [9]:
point_1 = [0, 7]
point_2 = [-2, 8]
distance (point_1, point_2)

'The distance is 2.23606797749979.'